# MacOS
.DS_Store

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.env.local
backend/.env.*.local

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/.eslintcache

# Database
database/chroma_db/*.sqlite3
database/chroma_db/chroma.sqlite3
database/fallback_memory.json
uvicorn.log
